# requirements.txt
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
celery
redis
pydantic-settings
pandas
python-dateutil
alembic
prometheus-fastapi-instrumentator
sentry-sdk
# Instala o toolkit autoSINAPI via Dockerfile (./AutoSINAPI)
